body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

div {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.menu-1 {
    display: flex;
    margin-left: 250px;
    
}

.menu-2 {
    display: flex;
    margin-left: 500px;
}

.company:hover {
    border-radius: 100px;
    background-color: #535c68;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: rgba(245, 246, 250,1.0);
    z-index: 1;
    padding-left: 10px;
}

.dropdown1-content li {
    padding: 0;
}

.dropdown1-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown1-content a:hover {
    background-color: #dcdde1;
}

.dropdown-1-show {
    display: block;
}

#dropdown-2 {
    height: 200px;
    width: 140px;
    overflow-y: auto;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: rgba(245, 246, 250,1.0);
    z-index: 1;
    padding-left: 10px;
}

.dropdown2-content li {
    padding: 0;
}

.dropdown2-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown2-content a:hover {
    background-color: #dcdde1;
}

.dropdown-2-show {
    display: block;
}